{% extends 'base.html' %}

{% block content %}
  <h1>Login</h1>
  <p class="error"></p>
  <form method="post">
    <table>
      <tbody>
        <tr>
          <td>
            <label for="username">Username</label>
          </td>
          <td>
            <input name="username" type="text">
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password</label>
          </td>
          <td>
            <input name="password" type="password">
          </td>
        </tr>
      </tbody>
    </table>
    <input type="submit">
  </form>
  <p>
    Don't have an account?
    <a href="/signup">Create one!</a>
  </p>
{% endblock %}
